body{
  text-align: center;
  font-family: Helvetica;
}

.header{
  background-image: url(../images/building.png);
  background-size:cover;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px
  font-weight: bold;
}

.intermezzo{
  background-image: url(../images/building.png);
  color: white;
}

p {
  font-size: 14px;
}

.btn-nav{
  font-size: 18px;
  color: white;
}

.footer{
  background-color: dimgray;
  text-align: left;
}

#copyright{
  font-size: 11px;
  color: white;
}
